<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the Expense-Tracker</h1>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <a href="/login" class="btn btn-primary btn-lg">Login</a>
        <a href="/registration" class="btn btn-secondary btn-lg">Register</a>
    </div>
    
</body>
</html>